.header {
    width: 100%;
    .nav {
        padding: 65px 0;
        @include flex(row, space-between, center);
        &__list {
            width: 35%;
            @include flex(row, space-between, center);
            list-style-type: none;
            &__item {
                &-link {
                    @include font(normal, 400, 14px, 14px);
                    color: $dark-black;
                    text-decoration: none;
                    letter-spacing: 2px;
                }
            }
        }
    }
}