// Desktop screen
.intro {
    position: relative;
    padding-top: 160px;
    &__inner {
        @include flex(row, space-between, flex-start);
        padding: 145px 95px 0;
        background-color: $peach;
        border-radius: 15px;
        background-image: url(../../images/Oval.png);
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__info {
        max-width: 540px;
        &-title {
            @include font(normal, 500, 48px, 48px);
            color: $white;
        }
        &-text {
            @extend %text;
            color: $white;
            padding: 20px 0 40px;
        }
        &-link {
            @extend %link-styled;
            padding: 16px 24px;
            background: $white;
            border-radius: 8px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $dark-black;
            &:hover {
                background-color: $light-peach;
                color: $white;
            }
        }
    }
    &__img {
        border-radius: 31px 31px 0 0;
        filter: drop-shadow(10px -20px 40px rgba(93, 2, 2, 0.497569));
    }
    &__style {
        position: absolute;
        top: 460px;
        left: calc(50% - 670px);
        z-index: -1;
    }
}

// max tablet screen
@media only screen and (max-width:992px) {
    .container {
        padding: 0 40px;
    }
    .intro {
        &__inner {
            @include flex(column, center, center);
            text-align: center;
            padding: 60px 60px 0;
            background-position: 180px center;
        }
        &__info {
            max-width: 540px;
            padding-bottom: 80px;
        }
        &__style {
            z-index: -999;
        }
    }
}

// Tablet screen
@media only screen and (max-width:768px) {
    .container {
        padding: 0 40px;
    }
    .intro {
        &__inner {
            @include flex(column, center, center);
            text-align: center;
            padding: 60px 60px 0;
            background-position: 180px center;
        }
        &__info {
            max-width: 540px;
            padding-bottom: 80px;
        }
        &__style {
            z-index: -999;
        }
    }
}

// Max mobile screen
@media only screen and (max-width:480px) {
    .container {
        padding: 0 24px;
    }
    .intro {
        background-color: $peach;
        background-image: url(../../images/Oval.png);
        background-position: left center;
        // padding: 0;
        &__inner {
            @include flex(column, center, center);
            text-align: center;
            padding: 50px 0 0;
            background: none;
        }
        &__info {
            max-width: 540px;
            padding-bottom: 80px;
            &-title {
                @include font(normal, 500, 32px, 36px);
                margin-bottom: 15px;
            }
            &-text {
                @include font(normal, 400, 15px, 25px);
            }
            &-link {
                margin-top: 25px;
                display: inline-block;
            }
        }
        &__style {
            z-index: -999;
        }
    }
}

// Mobile screen
@media only screen and (max-width:375px) {
    .container {
        padding: 0 24px;
    }
    .intro {
        background-color: $peach;
        background-image: url(../../images/Oval.png);
        background-position: left center;
        // padding: 0;
        &__inner {
            @include flex(column, center, center);
            text-align: center;
            padding: 0;
            background: none;
        }
        &__info {
            max-width: 540px;
            padding-bottom: 80px;
            &-title {
                @include font(normal, 500, 32px, 36px);
                margin-bottom: 15px;
            }
            &-text {
                @include font(normal, 400, 15px, 25px);
            }
            &-link {
                margin-top: 25px;
                display: inline-block;
            }
        }
        &__style {
            z-index: -999;
        }
    }
}